body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DDD;
}
canvas {
    border: 1px solid #000;
    background-color: #FFF;
}
table {
  width: 600px;
}
#polygonTable {
    margin-top: 20px;
    border-collapse: collapse;
}
th {
    border: 1px solid black;
    padding: 8px;
    background-color: #BBB;
}
td {
    border: 1px solid black;
    padding: 8px;
    background-color: #FFF;
    font-size: 12px;
}
